<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/create_recipe.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="icon" href="../static/img/core-img/favicon.ico">
    <script type="text/javascript">
        $(document).ready(function() {
            var max_fields = 10;
            var wrapper = $(".container_fields");
            var add_button = $(".add_form_field");

            var x = 1;
            $(add_button).click(function(e) {
                e.preventDefault();
                if (x < max_fields) {
                    x++;
                    $(wrapper).append('\
                    <div class="row">\
                        <div class="col-25">\
                        <label>Product ' + x + '</label>\
                        <br>\
                        <a href="#" class="delete">Remove</a>\
                        </div>\
                        <div class="col-75">\
                        <select name="id_of_product' + x + '">\
                            {% for product in products %}\
                                <option value="{{ product.id }}">{{ product.name }} ({{ product.unit }})</option>\
                            {% endfor %}\
                        </select>\
                        <input type="number" min="0" step="0.001" name="quantity_of_product' + x + '" placeholder="Quantity!" required>\
                        </div>\
                    </div>\
                    ');
                } else {
                    alert('You Reached the limits')
                }
            });

            $(wrapper).on("click", ".delete", function(e) {
                e.preventDefault();
                $(this).parent('div').parent('div').remove();
                x--;
            })
        });
    </script>
    <title>Create Recipe</title>
</head>
<body>
    <!-- Preloader -->
    <div id="preloader">
        <i class="circle-preloader"></i>
        <img src="../static/img/core-img/salad.png" alt="">
    </div>


    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Navbar Area -->
        <div class="delicious-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="deliciousNav">

                        <!-- Logo -->
                        <a class="nav-brand logo-ma" href="/"><img src="../static/img/core-img/logo.png" alt=""></a>


                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/recipes">Recipes</a></li>
                                    {% if not current_user.is_authenticated %}
                                        <li><a href="/login">Login</a></li>
                                        <li><a href="/register">Register</a></li>
                                    {% else %}
                                        <li><a href="/my_recipes">My Recipes</a></li>
                                        <li class="active"><a href="/create_recipe">Create</a></li>
                                        <li><a href="/profile">Profile</a></li>
                                        <li><a href="/logout">Logout</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img bg-overlay" style="background-image: url(../static/img/bg-img/breadcumb3.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-text text-center">
                        <h2>Create Recipe</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->
    

    <div class="container-recipe">
        <form action="/create_recipe" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-25">
                    <label>Recipe Name</label>
                </div>
                <div class="col-75">
                    <input type="text" name="recipe_name" placeholder="Your recipe name...">
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label>Picture</label>
                </div>
                <div class="col-75">
                    <input type="file" name="file" class="file">
                </div>
            </div>
          
            <div class="container_fields">
                <div class="row">
                <div class="col-25">
                    <label>Product 1</label>
                </div>
                <div class="col-75">
                    <select name="id_of_product1">
                        {% for product in products %}
                            <option value="{{ product.id }}">{{ product.name }} ({{ product.unit }})</option>
                        {% endfor %}
                    </select>
                    <input type="number" min="0" step="0.001" name="quantity_of_product1" placeholder="Quantity!" required>
                </div>
                </div>
            </div>

            <div class="row right">
                <button class="add_form_field">Add</button>
            </div>

            <div class="row">
                <div class="col-25">
                <label>Time to prepare</label>
                </div>
                <div class="col-75">
                <input type="number" min="0" name="time" placeholder="Time to prepare">
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                <label>Description of your Recipe</label>
                </div>
                <div class="col-75">
                <textarea name="description" placeholder="Write something.." style="height:200px"></textarea>
                </div>
            </div>
            <div class="row right">
                <input type="submit" value="Submit">
            </div>
            </form>
        </div>
        {% block javascript %}
            <script src="{{ url_for('static', filename='js/active.js') }}"></script>
        {% endblock %}
</body>
</html>