<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Delicious - Food Blog Template | Receipe Post</title>

    <!-- Favicon -->
    <link rel="icon" href="../static/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/view_recipe.css') }}">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <i class="circle-preloader"></i>
        <img src="../static/img/core-img/salad.png" alt="">
    </div>
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="delicious-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="deliciousNav">

                        <!-- Logo -->
                        <a class="nav-brand logo-ma" href="/"><img src="../static/img/core-img/logo.png" alt=""></a>


                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/recipes">Recipes</a></li>
                                    {% if not current_user.is_authenticated %}
                                        <li><a href="/login">Login</a></li>
                                        <li><a href="/register">Register</a></li>
                                    {% else %}
                                        <li><a href="/my_recipes">My Recipes</a></li>
                                        <li><a href="/create_recipe">Create</a></li>
                                        <li><a href="/profile">Profile</a></li>
                                        <li><a href="/logout">Logout</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <div class="receipe-post-area section-padding-80">

        <!-- Receipe Slider -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <img style="width: 1110px; height: 425px;" src="{{ recipe.picture }}" alt="">
                </div>
            </div>
        </div>

        <!-- Receipe Content Area -->
        <div class="receipe-content-area">
            <div class="container">

                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="receipe-headline my-5">
                            <h2 style="margin-bottom: 20px;">{{ recipe.name }}</h2>
                            <p>Overall rating: {{ '%0.2f'| format(recipe.get_overall_rating()|float) }} / 5</p>
                            <div class="receipe-duration">
                                <h6>Time: {{ recipe.time }} mins</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <form action="/recipes/{{ recipe.id }}" method="POST">
                            <div class="rate">
                            {% if current_user.is_authenticated and current_user.id != recipe.user_id | int %}

                                {% if recipe.is_current_user_rated_this_recipe(current_user.id) %}

                                    {% for i in range(5, 0, -1) %}
                                        
                                        {% if i == recipe.get_rating(current_user.id) | int %}
                                            <input type="radio" id="star{{ i }}" name="checked" value="{{ i }}" checked/>
                                            <label for="star{{ i }}">{{ i }} stars</label>
                                        

                                        {% elif i != recipe.get_rating(current_user.id) %}
                                            <input type="submit" id="star{{ i }}" name="rate" value="{{ i }}" />
                                            <label for="star{{ i }}">{{ i }} stars</label>
                                        {% endif %}

                                    {% endfor %}

                                {% endif %}

                            

                                {% if recipe.is_current_user_rated_this_recipe(current_user.id) == False  %}

                                    {% for i in range(5, 0, -1) %}
                            
                                        <input type="submit" id="star{{ i }}" name="rate" value="{{ i }}" />
                                        <label for="star{{ i }}">{{ i }} stars</label>
                                            
                                    {% endfor %}

                                {% endif %}
                        
                            {% endif %}
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="single-preparation-step d-flex">
                            <p>{{ recipe.description }}</p>
                        </div>

                        {% if user_id == recipe.user_id %}
                        <a class="btn delicious-btn" href="/recipes/{{ recipe.id }}/edit">Edit</a>
                        <form action="/my_recipes/{{ recipe.id }}/delete" method="POST">
                            <br>
                            <button class="btn delicious-btn" type="submit">Delete</button>
                        </form>
                        {% endif %}
                    </div>

                    <!-- Ingredients -->
                    <div class="col-12 col-lg-4">
                        <div class="ingredients">
                            <h4>Ingredients</h4>
                            {% for ingredient in ingredients %}
                                {% if product.find(ingredient.product_id).name in missing_products_names %}
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck{{ loop.index }}">
                                        <label class="custom-control-label" for="customCheck{{ loop.index }}">{{ ingredient.quantity }} {{ product.find(ingredient.product_id).unit }} {{ product.find(ingredient.product_id).name }}</label>
                                    </div>
                                {% else %}
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck{{ loop.index }}" checked>
                                        <label class="custom-control-label" for="customCheck{{ loop.index }}">{{ ingredient.quantity }} {{ product.find(ingredient.product_id).unit }} {{ product.find(ingredient.product_id).name }}</label>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- ##### All Javascript Files ##### -->
    {% block javascript %}
        <script src="{{ url_for('static', filename='js/jquery/jquery-2.2.4.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/plugins/plugins.js') }}"></script>
        <script src="{{ url_for('static', filename='js/active.js') }}"></script>
    {% endblock %}
</body>

</html>